<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
    integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <!-- Favicon-->
  <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
  <!-- Core theme CSS (includes Bootstrap)-->

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="../static/style.css">
  <title>VlogQA - A Reading Model for Spoken Content</title>
</head>

<body>
  <div class="landing-top">

    <nav class="navbar navbar-expand-lg navbar-dark justify-content-between ">
      <a class="navbar-brand" href="./vi-chat.html"><span class="logo">Vlog</span>QA</a>
      <ul class="navbar-nav flex-row justify-content-between">

        <li class="nav-item">
          <a class="nav-link " href="vi-main.html"> <span class="lead">ENG</span>|<span class="second-language text-secondary">VIE</span> </a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="!#"><i class="fa-brands fa-facebook-f"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="!#"><i class="fa-brands fa-github"></i></a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="!#"><i class="fa-brands fa-google-drive"></i></a>

        </li>
      </ul>
    </nav>



    <div class="container">
      <div class="d-flex flex-wrap row justify-content-between align-items-center pt-3">
        <div class="d-flex flex-column col-md-6 col-xs-12">
          <div class="intro-title"><span class="logo">Vlog</span>QA: A Reading Model for Spoken Content</div>

          <div class="intro-text text-secondary">Trained on over 10,000 question-answer pairs about food and travel from
            Youtube vlogs' transcripts, the model is expected to have simple reasoning abilities to deal with questions
            in spoken context.</div>

          <a href="./chat.html" class="btn btn-light active mt-5" role="button" aria-pressed="true"
            style="width: 7rem;">Try now <i class="fa fa-long-arrow-right pl-1" aria-hidden="true"></i></a>

          <!-- <button type="button" class="btn btn-light mt-5" > -->

          <p class="mt-auto pt-3 font-weight-light text-secondary">April, 2023</p>
        </div>





        <div class="col-md-6 col-xs-12">
          <!-- <img class="intro-img d-block rounded mx-auto" src="https://images.unsplash.com/photo-1509813685-e7f0e4eaf3ee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80" alt=""> -->
          <script>$('.carousel').carousel({
              interval: 2000
            });
            </script>
          <div id="carouselExampleIndicators" class="carousel slide" data-touch="true" data-ride="carousel">
            <ol class="carousel-indicators">
              <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
              <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner h-75 ">
              <div class="carousel-item active">
                <img class="d-block w-75 mx-auto"
                  src="https://images.unsplash.com/photo-1509813685-e7f0e4eaf3ee?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=386&q=80"
                  alt="First slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-75 mx-auto"
                  src="https://images.unsplash.com/photo-1545640746-dfed9ddad77e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=415&q=80"
                  alt="Second slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-75 mx-auto"
                  src="https://images.unsplash.com/photo-1622087250339-9295c9ef442b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=405&q=80"
                  alt="Third slide">
              </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="sr-only">Next</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>




  <div class="container second">
    <div class="col-12">
      <div class="d-block row pt-5 align-items-center justify-content-center">
        <h1 class="py-5">Samples</h1>
  
        <p class="px-2 lead">Following is a sample transcript and its QAs (to check out the original video, visit <a
            href="https://www.youtube.com/watch?v=eqckPzeoDDg" target="_blank" rel="noopener noreferrer"
            class="">here</a>):</p>
  
            <div class="card bg-light mb-5">
              <div class="card-body">
    
                <p class="mt-5 font-weight-bold">Transcript:</p>
                <div class="d-flex justify-content-center py-5">
                  <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/eqckPzeoDDg?start=71" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
  
            <div class="card px-2 mx-2 mb-5" style="background-color: #00e1ff34;">
              <div class="card-body">
                [...] Thông thường ở một số địa phương khác thì không gọi đây là cống vào
                trong suy nghĩ của chúng tôi cứ nghĩ rằng cũng chỉ là một nơi thoát nước không
                quá lớn nhưng khi tìm hiểu kỹ thì câu cống sông Kiên có chiều dài 97,5 m bắc
                qua sông Kiên nối 2 phường Vĩnh Khang và Vĩnh thanhvân tổng số vốn đầu tư là
                196 tỷ đồng đây không chỉ là công trình ngăn mặn giữ ngọt thoát lũ ra biển tây
                phục vụ sản xuất nông nghiệp mà còn tạo thành tuyến giao thông ven biển nằm
                trong chương trình mục tiêu quốc gia củng cố nâng cấp hệ thống đê biển từ tỉnh
                Quảng Ngãi đến Kiên Giang do trung ương đầu tư [...] </div>
            </div>
            <p class="font-weight-bold">QAs:</p>
  
  
  
            <p class="px-2">Công trình cống ngăn mặn sông Kiên dài bao nhiêu mét?</p>
  
  
            <div class="card bg-dark my-4 mx-2">
              <div class="card-body font-weight-bold text-white">
                97.5
              </div>
            </div>
  
            <p class="px-2">Kinh phí được đầu tư cho cống sông Kiên là bao nhiêu?</p>
  
            <div class="card bg-dark my-4 mx-2">
              <div class="card-body font-weight-bold text-white">
                196 tỷ đồng
              </div>
            </div>
  
  
          </div>
        </div>
      </div>
  
      <div class="d-block row pt-5 align-items-center justify-content-center">
        <h1 class="py-5">Methods</h1>
        <p class="px-2 lead">
          The serving model is trained on pre-trained image <span class="font-weight-bold" style="color: #ff0000;"">xlm-roberta</span>.
  
        </p>
  
  
      </div>
  
      <div class="d-block row py-5 align-items-center justify-content-center">
        <h1 class="py-5">Limitations</h1>
        <p class="px-2 lead">Each data point fed to the model during inference is a pair of
          <span class="font-weight-bold" style="color: #ff0000;">(q, t)</span>, in which
          <strong>q</strong> is a textual question, <strong>t</strong> is the transcript of a Youtube vlog. The goal of
          the model is to extract the answer <strong>a</strong>, a word span in the reference transcript
          <strong>t</strong>.
          The main challenge is the comprehensibility of the transcript:
        </p>
  
        <ul class="lead pr-1">
  
          <li>The selected vlogs are genuinely created by humans of the Vietnamese com-
            munity and they may speak different Vietnamese dialects. Vietnamese is
            also a language with tones, one word may be pronounced differently among
            speakers. The transcripts were generated primarily by YouTube; therefore,
            they contain errors due to automatic speech recognition (ASR).
  
          </li>
  
          <li>
            The platform’s ASR system hardly uses any form of punctuation, including
            the period ”.” and the comma ”,”. As a result, the transcript is a lengthy
            collection of speeches, which could be monologues or dialogues, and are not
            separated appropriately.
          </li>
  
        </ul>
      </div>
    </div>


  </div>
  <footer class="footer-bg text-center text-white">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-github"></i></a>
        <!-- Google Drive -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i
            class="fa-brands fa-google-drive"></i></a>
      </section>

      <!-- Section: Social media -->
      <!-- Section: Text -->
      <section class="mb-4">
        <p>
          <a href="mailto:ngophuocthinh28@gmail.com">ngophuocthinh28@gmail.com</a> or
          <a href="mailto:ngophuocthinh28@gmail.com">thesecond-email@gmail.com</a>
        </p>
        <p> © 2022 - 2023. </p>
      </section>
      <!-- Section: Text -->
  </footer>
  <!-- Footer -->

  </div>
</body>

</html>